.main-block {
    display: flex;
    color: #FFFFFFA6;
    gap: 24px;
}

.main-block__image {
    width: 180px;
    border-radius: 8px;
}

.main-block__infos {
    position: relative;
}

.main-block__title {
    color: #FFFFFFD9;
}

.main-block__author,
.main-block__chapters {
    color: #FFFFFFA6;
}

.main-block__author {
    margin-top: 2px;
}

.main-block__chapters {
    margin-top: 6px !important;
}

.mainBlock__social {
    display: flex;
    gap: 17px;
    margin-top: 6px;
}

.mainBlock__social .anticon {
    color: #FFFFFF73;    ;
    margin-right: 5px;
}

.ant-btn.main-block__read {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    bottom: 0;
    color: #000;
    background: #FFD60A;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    padding: 5px 16px;
}

.ant-btn.main-block__read span {
    line-height: 1;
}